/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */

div.center-block {
  margin-top: 25px;
}

body {
  padding-top: 50px;
  margin-right: auto;
  margin-left: auto;
  background: #e9eaec;
}
.container-fluid#navbar {
  margin-left: 15px;
/*  background:url("http://www.virginia.edu/virginia/images/uva-logo-white.png") 0 0 no-repeat;
*/
}


/*
 * Global add-ons
 */


.fa-bars {
  padding-top: 10px;
  width:30px;
  height:30px;
  color:#f36f21;
}

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}


.navbar{
  background-color: #002654;
  height: 70px;
  box-shadow: 0.5px 0.5px 1px #888888;

}

ul.navbar-right {
  margin-right: 20px;
}

/*
 * Main content
 */

.main {
  margin-right: auto;
  margin-left: auto
}
/*@media (min-width: 768px) {
  .main {
    padding-left: 40px;
    padding-right: 40px;
  }
}*/
.main .page-header {
  margin-top: 0;
}
input#mentors {
  font-size: 16px;
  height: 70px;
  float: left;
  min-width: 350px;
  text-transform: none;
  border-radius: 0;
  outline:none;
  background-color:transparent;
  border:none;
  box-shadow: none;
}

div.form-group.search-icon {
  height: 10px;
}

div.form-group#query {
  height: 60px;
  margin-right: 30%;
}
input:focus{
    outline:none;
    background:none;
}

div.form-group#submit {
  height: 20px;
}

form.form-inline {
  border-bottom: solid 1px #EEE;
}

.search-form {
  min-height: 105px;
  width: 75%;
  background-color: #f9fafb;
  box-shadow:  0 1px 2px 0 rgba(0,0,0,.2);
  margin-right: auto;
  margin-left: auto;
}

.search-form form {
  float: left;
  width: 100%;
  min-width: 500px;
}

i.fa-search {
  margin-left: 10px;
  text-align: left;
  padding-right: 10px;
}

.col-md-2#img {
  margin-left: 10px;
}

.results {
  width: 75%;
  box-shadow:  0 1px 2px 0 rgba(0,0,0,.2);
  margin-right: auto;
  margin-left: auto;
}
.results img {
  padding-top: 10px;
  border-color: transparent;
  border-width: 5px;
}
.details {
  text-align: left;
}

#name {
  font-size: 22px;
}

div#message {
  margin-top: 4%;
}

div#message a{
  padding-left: 3px;
}

.person {
  min-height: 100px;
  width: 100%;
  text-transform: none;
  background-color: #f9fafb;
  border-bottom: 1px solid #e9eaec;
}

.person:hover {
  background-color: #F5F5F5;
}

div.message-form {
  width: 65%;
  margin-right: 10%;
}

div.message-form button {
  width:100px;
}

.ph-button {
  width: 99px;
  height: 34px;
  border-style: solid;
  border-width: 0px 0px 2px;
  box-shadow: 0 -1px 0 rgba(255, 255, 255, 0.1) inset;
  color: #FFFFFF;
  border-radius: 3px;
  cursor: pointer;
  display: inline-block;
  font-style: normal;
  overflow: hidden;
  text-align: center;
  text-decoration: none;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-family: Helvetica,Arial,sans-serif;
  padding-top: 5px;
  font-weight: 500;
  font-size: 16px;
}
.ph-btn-orange {
    background-color: #FF7400;
    border-color: #A74C00;

}
.ph-btn-orange:hover, .ph-btn-orange:focus, .ph-btn-orange:active {
    background-color: #E57111;
    border-color: #A74C00;
}
.ph-btn-blue {

    border-color: #03234A;
    background-color: #245590;
}

.ph-btn-blue:hover, .ph-btn-blue:focus, .ph-btn-blue:active {
    background-color: #397CAC;
    border-color: #326E99;
}

.ph-btn-gray {
     margin-height: 10px;
     background-color: #C6CCD2;
     border-color: #AAB3BB;
}
.ph-btn-gray:hover, .ph-btn-gray:focus, .ph-btn-gray:active {
    background-color: #B8BFC7;
    border-color: #AAB3BB;
}

/* Autocomplete */

.twitter-typeahead { width: 100%; }
.twitter-typeahead .tt-input, .twitter-typeahead .tt-hint { width: 100%; margin: 0px; padding: 8px 12px; border: 2px solid #ccc; outline: none; }
.twitter-typeahead .tt-input:focus { border: 2px solid #0097cf; }
.twitter-typeahead .tt-hint { color: #999; }
.twitter-typeahead .tt-dropdown-menu { width: 100%; min-width: 350px; padding: 0; background-color: #fff; border: 1px solid rgba(0, 0, 0, 0.2); border-top: 0px; }
.twitter-typeahead .tt-dropdown-menu .tt-suggestion { text-align: left; padding: 3px 20px; font-size: 18px; line-height: 24px; }
.twitter-typeahead .tt-dropdown-menu .tt-suggestion.tt-cursor { color: #fff; background-color: #0097cf; }
.twitter-typeahead .tt-dropdown-menu .tt-suggestion p { margin: 0; }
.twitter-typeahead .tt-dropdown-menu .tt-suggestion a { color: #000; text-decoration: none; }
.twitter-typeahead .tt-dropdown-menu .tt-suggestion em { font-weight: bold; font-style: normal; }


.industry {
  font-size: 16px;
}
.city {
  font-size: 16px;
}
.company {
  font-size: 16px;
}
.state {
  font-size: 12px;
}

.category {
  text-align: left;
  padding-left: 3px;
  border: 4px solid white;
  background-color: #f36f21;
  color: white;
  font-weight: bold;
}

/* Mentor profile */

.mentor_profile {
  margin-top: 20px;
  width: 75%;
  box-shadow:  0 1px 2px 0 rgba(0,0,0,.2);
  margin-right: auto;
  margin-left: auto;
  min-height: 100px;
  text-transform: none;
  background-color: #f9fafb;
}

.info {
  width: 90%;
}


@media only screen and (max-width: 1000px) {
  .navbar {
    height: 50px;
  }
  .search-form {
    width: 100%;
  }
  input#mentors {
    text-align: left;
  }
  i.fa-search {
    margin-left: 0px;
    text-align: left;
    padding-right: 2px;
  }
  .results {
    width: 100%;
    box-shadow:  0 1px 2px 0 rgba(0,0,0,.2);
    margin-right: auto;
    margin-left: auto;
  }
  div#message {
    margin-bottom: 4%;
  }
  div.details {
    margin-top: 2%;
    text-align: center;
  }
  div.search-form form {
    min-width: 0px;
    float: none;
  }
  div.search-icon {
    display: none;
  }
  div.form-group#submit {
    margin-bottom: 30px;
  }
  div.mentor_profile {
    width: 100%;
  }
  div.center-block {
    margin-top: 5px;
  }
}












