/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
  margin-right: auto;
  margin-left: auto;
  background: #e9eaec;
}
/*.container-fluid#navbar {
  background-color: #f9fafb;
}*/


/*
 * Global add-ons
 */

.fa-bars {
  width:30px;
  height:30px;
  color:black;
}

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}


.navbar{
  background-color: white;
  height: 60px;
  box-shadow: 0.5px 0.5px 1px #888888;

}

ul.navbar-right {
  margin-right: 20px;
}

/*
 * Main content
 */

.main {
  margin-right: auto;
  margin-left: auto
}
/*@media (min-width: 768px) {
  .main {
    padding-left: 40px;
    padding-right: 40px;
  }
}*/
.main .page-header {
  margin-top: 0;
}
input#query {
  font-size: 16px;
  min-height: 70px;
  float: left;
  min-width: 350px;
  text-transform: none;
  border-radius: 0;
  outline:none;
  -webkit-appearance: none;
  -webkit-user-select: none;
  background-color:transparent;
  border:none;
  box-shadow: none;
}

div.form-group#query {
  margin-right: 20%;
}

input:focus{
    outline:none;
    -webkit-appearance: none;
    -webkit-user-select: none;
    background:none;

}

.search-form {
  min-height: 70px;
  width: 80%;
  background-color: #f9fafb;
  box-shadow:  0 1px 2px 0 rgba(0,0,0,.2);
}

.search-form form {
  margin-left: 10px;
  float: left;
  width: 100%;
  min-width: 500px;
}

i.fa-search {
  margin-left: 10px;
  text-align: left;
  padding-right: 10px;
}

button#query {
  background-color: #dde2e7;
  color: black;
  border: none;
}

.col-md-2#img {
  margin-left: 10px;
}

.results {
  width: 80%;
  box-shadow:  0 1px 2px 0 rgba(0,0,0,.2);
}
.results img {
  padding-top: 10px;
  border-color: transparent;
  border-width: 5px;
}
.details {
  text-align: left;
}

#name {
  font-size: 22px;
}

div#message {
  margin-top: 4%;
}

div#message a{
  padding-left: 3px;
}

.person {
  min-height: 100px;
  width: 100%;
  text-transform: none;
  background-color: #f9fafb;
  border-bottom: 1px solid #e9eaec;
}

.person:hover {
  background-color: #F5F5F5;
}







