<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
<!--     <link rel="shortcut icon" href="{{ STATIC_URL }}ico/favicon.ico">
 -->
    <title>{% block title %}{% endblock title %}</title>
    {% block meta %}{% endblock meta %}

    {% block styles %}

    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/base.css" rel="stylesheet">

    {% block extra_styles %}{% endblock extra_styles %}
    {% endblock styles %}

    {% block javascript %}

    <script src="{{ STATIC_URL }}js/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <script src="{{ STATIC_URL }}js/JSXTransformer.js"></script>
    <script src="{{ STATIC_URL }}js/react.min.js"></script>


    {% endblock javascript %}

    {% block extra_head %}{% endblock extra_head %}
  </head>
  <body class="{% block body_class %}{% endblock body_class %}">

    <div class="navbar navbar-fixed-top" role="navigation">
      <div class="container-fluid" id="navbar">
        <div class="navbar-header">
          <a class="navbar-brand center" style="color:black;font-weight:bold;margin-left:auto;margin-right:auto;position:center;" href="/">HypeMentor</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right navbar-top">
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-bars fa-2x"></i></a>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="{% url 'home' %}">Home</a></li>
                  <li><a href="{% url 'logout' %}">Logout</a></li>
                </ul>
              </li>
            </ul>
        </div>
      </div>
    </div>
    <center>
    <div class="container-fluid center-block">
      <div class="center-block">
        <div class="center-block main">
          {%  block content %}{%  endblock content %}
        </div><br>
      </div>
    </div>
  </center>
</body>
</html>