<!DOCTYPE html>
<html lang="en">
  <head>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  </head>
  <body>
    <center>
      <div class="logo">
          <img src="https://dl.dropboxusercontent.com/s/kyf0uyixix1tuk3/hypementor.png" style="width:150px;height:90px;">
      </div><br>
      <div class="container-fluid center-block">
      <div class="center-block">
        <div class="center-block main">
          <h1>You're all set!</h1><br>
          <p class="lead">We'll be in touch soon.</p><br>
          <div class="container">
          </div>
        </div>
      </div>
    </div>
  </center>


  </body>

</html>