<!DOCTYPE html>
<html lang="en">
  <head>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  </head>
  <body>
  	<center>
      <div class="logo">
          <img src="https://dl.dropboxusercontent.com/s/kyf0uyixix1tuk3/hypementor.png" style="width:150px;height:90px;">
      </div>
    </center>
  	<div class="pure-g-r">
    	<div class="pure-u-1" style="padding-top:45px;text-align: center; font-size: 150%; margin-top: 2em;">
        	<a href="{% url 'user_login' %}"><button class="btn btn-lg" style="background-color:white;border-color:gray;color:#007bb6;font-family:arial;font-size:18px;"><i class="fa fa-linkedin-square fa-1x"></i>  <strong>Sign up</strong> with <strong>LinkedIn</strong></button></a>
    	</div>
	</div>
  </body>
</html>
