{% extends "base.html" %}
{% block title %}Sign Up{% endblock title %}

{% block content %}
  	<div class="pure-g-r">
    	<div class="pure-u-1" style="padding-top:45px;text-align: center; font-size: 150%; margin-top: 2em;">
        	<a href="{% url 'user_login' %}"><button class="btn btn-lg" style="background-color:white;border-color:gray;color:#007bb6;font-family:arial;font-size:18px;"><i class="fa fa-linkedin-square fa-1x"></i>  <strong>Authenticate</strong> with <strong>LinkedIn</strong></button></a>
    	</div>
	</div>
{% endblock content %}

