{% extends "base.html" %}
{% block title %}Dashboard{% endblock title %}
{% block extraJS %}
    <script src="{{ STATIC_URL }}js/jquery.tagsinput.js"></script>
    <script src="//cdn.jsdelivr.net/algoliasearch/2/algoliasearch.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/typeahead.js/0.10.4/typeahead.bundle.min.js"></script>
	<script src="//cdn.jsdelivr.net/hogan.js/3.0.0/hogan.common.js"></script>
{% endblock %}

{% block content %}

<br><br>
<div id="content"></div>
<script type="text/javascript" src="{{ STATIC_URL }}js/dashboard.js"></script>
{% endblock content %}