{% extends "base.html" %}
{% block title %}{{ mentor.first_name }} {{ mentor.last_name }}{% endblock title %}

{% block content %}
<br>
<div class="mentor_profile">
  <br>
  <img src="{{mentor.picture_url}}">
  <h3>{{ mentor.first_name }} {{ mentor.last_name }}</h3>
  <h5>{{ mentor.positions.0.title }} at {{ mentor.positions.0.company }}</h5>
  <br>
  <table class="table info">
    <tr>
      <th>Industry</th>
      <th>Location</th>
      <th>Past Positions</th>
    </tr>
    <tr>
      <td>{{ mentor.industry }}</td>
      <td>{{ mentor.location }}</td>
      <td>
        {% for position in mentor.positions %}
          {% if position.company != mentor.positions.0.company %}
          <p>{{ position.title }} at {{ position.company }}</p>
          {% endif %}
        {% endfor %}
      </td>
    </tr>
  </table>
  <a href="{% url 'message' %}/?mi={{ mentor.linkedin_id }}"><button class="ph-button ph-btn-blue">Message</button></a>
  <br><br>
  <h5><a href="{% url 'home' %}">Back to Search</a></h5>
  <br>
</div>
 <!--
      <div id="content"></div>
      <script type="text/javascript" src="{{ STATIC_URL }}js/dashboard.js"></script>
 -->
{% endblock content %}