<!DOCTYPE html>
<html lang="en">
	<body>
		<center>
			<img src="https://dl.dropboxusercontent.com/s/kyf0uyixix1tuk3/hypementor.png" style="width:150px;height:90px;">
		</center>
		<p>{{ user.first_name }},<br><br>Thank you for signing up for HypeMentor!<br><br>We'll be reviewing your background and interests over the next 24-48 hours, and will send you our resume review, along with the description of your mentor, within that timeframe. After that, we'll make the introduction.<br><br>Feel free to contact us at any time if you have any questions.<br><br>Best,<br><br>Kendall and Jai</p>
	</body>
</html>